.dashboard {
  max-width: 120rem;
  min-height: 80rem;
  background: rgba(0, 157, 255, 0.4);
  margin: 5rem auto;
  display: flex;
  overflow-x: hidden;
  border-radius: 10px;
}

.flex11 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex11-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon111 {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  cursor: pointer;
  margin: 2.5rem 0;
}

.headingss {
  font-size: 1.8rem;
  color: #fcfcfc;
  font-weight: 500;
  text-align: left;
}

.menus {
  flex: 0 0 8%;
  min-height: 80rem;
  background: rgba(1, 119, 192, 0.4);
  justify-content: space-between;
  padding: 2rem;
}

.menus .icon111:hover,
.menus .logo .icon111 {
  color: #2c1923;
  border-radius: 2px;
  transition: all 0.6s ease-out;
}

.content {
  flex: 1;
  display: flex;
}

.main-content {
  padding: 3rem;
  width: 76%;
}

.headss {
  justify-content: space-between;
}

.headss h1 {
  flex: 1;
  font-size: 2.2rem;
  font-weight: 600;
  color: #fff;
}

.box {
  padding: 10px;
  background: rgba(0, 81, 131, 0.4);
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #e6e3e5;
  cursor: pointer;
}

.box .angle {
  margin-left: 10px;
}

.time-period {
  margin-right: 2rem;
}

.stats {
  background: rgba(2, 130, 210, 0.3);
  margin-top: 4rem;
  padding: 2rem 1rem;
  font-size: 1.6rem;
  justify-content: space-between;
}

.stats-box {
  min-height: 30rem;
  padding: 2rem 1rem;
}

.stats-box .headingss {
  margin-bottom: 2rem;
}

.sales {
  flex: 0 0 60%;
}

.earning {
  border-radius: 10px;
  width: 38%;
}

.earning-amount {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10px;
}

.earning-icon {
  font-size: 4rem;
  color: #3f2532;
  background: linear-gradient(to right bottom, #0083cf, #0083cf);
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.product-stats {
  justify-content: space-between;
  margin-top: 2rem;
}

.product-stats .stats-box {
  background: rgba(2, 130, 210, 0.3);
}

.product-sales {
  width: 38%;
}

.top-selling {
  width: 60%;
}

.top-selling-products {
  text-align: left;
  font-size: 1.8rem;
  padding: 7px 0;
}

.top-selling-products th {
  background: rgba(0, 137, 222, 0.2);
  border: 1px solid #ccc;
}

.top-selling-products th,
.top-selling-products td {
  padding: 10px 8px;
}

.product-name {
  justify-content: flex-start;
}

.product-name p {
  margin-left: 10px;
}

.product-name .icon111 {
  margin: 0;
  background: #19a0e8;
  border-radius: 50%;
  color: #291623;
  font-size: 3rem;
  border: 1px solid #ccc;
}

.product-name.iphone .icon111 {
  background: #0c73f9;
}

.product-name.windows .icon111 {
  background: #004eb4;
}
.profile {
  background: rgba(2, 130, 210, 0.3);
  padding: 2rem;
  flex: 1;
}

.title {
  justify-content: space-between;
}

.user {
  color: #fff;
  text-align: center;
  margin: 3rem 0 5rem 0;
}

.user img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.user h2 {
  font-size: 2rem;
  margin: 8px 0;
}

.user p {
  color: #0400f1;
}

.activities {
  margin: 10px 0;
  font-size: 14px;
}

.activity {
  justify-content: flex-start;
  font-size: 14px;
  margin: 2rem 0;
}

.activity h2 {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.task {
  margin: 0 5px;
}

.task p {
  color: #ddd;
}

.time {
  margin-top: 4px;
}

.activity .icon111 {
  font-size: 3rem;
  width: 40px;
  height: 40px;
  background: #ffc6ea;
  margin: 0 5px 5px 5px;
  border-radius: 50%;
  color: #faad72;
}

.upgrade {
  width: 100%;
  margin: 5rem auto 0 auto;
  background: #33202c;
  padding: 2rem;
  color: #ccc;
  text-align: center;
  font-size: 14px;
}

.upgrade .icon111 {
  font-size: 8rem;
}

.btnss {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(to right bottom, #faad72, #f89456);
  padding: 2rem 0;
  color: #2f1a27;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .dashboard {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
  }

  .profile {
    width: 40%;
    margin: 3rem auto;
  }

  .main-content {
    width: 100%;
  }

  .title,
  .upgrade {
    display: none;
  }

  .activity {
    justify-content: center;
  }

  .btnss {
    width: 60%;
  }
}

@media (max-width: 850px) {
  .menus {
    width: 100%;
    flex-direction: row;
    position: absolute;
    height: 80px;
    min-height: 80px;
  }

  .navigation {
    display: flex;
  }

  .navigation .icon111 {
    margin: 0 10px;
  }

  .content {
    margin-top: 85px;
  }
}

@media (max-width: 750px) {
  .stats {
    flex-direction: column;
    background: none;
  }

  .sales,
  .earning {
    width: 100%;
    margin: 20px 0;
    background: rgba(1, 119, 192, 0.4);
  }

  .profile {
    width: 60%;
  }
}

@media (max-width: 650px) {
  .navigation,
  .settings {
    display: none;
  }

  .menus {
    justify-content: center;
  }

  .main-content {
    padding: 1rem;
  }

  .product-stats {
    flex-direction: column;
  }

  .product-sales,
  .top-selling {
    width: 95%;
    padding: 2rem 4rem;
    margin: 20px auto;
  }

  .product-sales {
    width: 60%;
  }
}

@media (max-width: 550px) {
  .product-sales,
  .top-selling {
    width: 100%;
  }

  .product-name .icon111 {
    display: none;
  }

  .profile {
    width: 85%;
  }

  .menus {
    min-height: 60px;
    height: 60px;
  }
}

@media (max-width: 300px) {

}