.self-development, .container-main {
    display: flex;
    align-items: center;
    padding-top: 40px;
    width: 90%;
    margin: auto;
}

.delfdev {
    max-width: 470px;
    min-width: 200px;
    height: auto;
    width: 100%;
    border-radius: 10px;
}
.goaldev{
    width: auto;
    padding: 14px 23px;
    box-shadow: 1px 2px 3px #ccc, -1px -2px 1px #ccc;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-self: center;
    background-color: #65cde2;
    border: 1px solid #41ceea;
}
.text1, .text2{
    width: 80%;
    margin: auto;
    font-size: 20px;
    line-height: 2.3rem;
    text-align: justify;
}
.text2{
    margin-top: 30px;
}
@media only screen and (max-width: 960px){
    .self-development {
        flex-direction: column;
    }
    .text1{
        margin-top: 40px;
    }
}
.goalsetting{
    width: 100%;
}
.btns-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btns-list > button{
    margin: 20px 10px;
}
.goalstask{
    width: 400px;
    height: auto;
    padding-bottom: 40px;
    box-shadow: 1px 2px 3px 3px #ccc, -1px -2px 3px #ccc;
    border-radius: 8px;
}
.main-heading{
    margin-top: 0;
    text-decoration: underline;
    text-underline-position: under;
}
.lower-bound input, .main-data input{
    margin-top: 6px;
    width: 100%;
    height: 24px;
    border-radius: 5px;
    box-shadow: 2px 3px 4px 2px #ccc, -2px -3px 2px 1px #ccc;
    padding: 20px 4px;
}
.lower-bound input:focus{
    outline: none;
}
.lower-bound button{
    margin: auto;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #6bd2e7;
}
.input-text{
    margin-top: 10px !important;
}
.inp, .m1, .heading{
    position: relative;
}
.inp i, .m1 i, .heading i{
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-60%);
    color: rgb(243, 80, 80);
    cursor: pointer;
}
.inp input{
    padding-right: 40px;
    padding-left: 4px;
}
.heading h1{
    padding-right: 62px;
    padding-left: 0;
}
.viewgoalcontainer{
    max-width: 470px;
    min-width: 200px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 3px 4px 2px #ccc, -2px -3px 2px 1px #ccc;
    margin: 10px 20px;
}
.viewgoal{
    align-items: center;
}
.responsibilities{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.ull{
    line-height: 1.9rem;
}
.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.goal-heading{
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}
.heading i{
    top: 30%;
    transform: translateY(-30%);
}
.headingi{
    color: blue !important;
    right: 35px !important;
}
@media only screen and (max-width:544px){
    .viewgoal, .responsibilities{
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }
}
.fllf{
    display: flex;
    align-items: center;
}
.main-data{
    width: 500px;
    margin: 20px;
    padding: 20px 30px 50px 30px;
    border: 2px solid #ccc;
    border-radius: 12px;
}
.milestones-goals{
    position: relative;
}
.milestones-goals i{
    color: red;
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-70%);
    cursor: pointer;
}
.btns-lists{
    background-color: #6bd2e7;
    box-shadow: 1px 1px 1px 1px #ccc, -1px -1px 1px 1px #ccc;
    padding: 10px 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.newro{
    align-items: center;
}