.App{
    position: relative;
}
.contact-ss{
    position: fixed;
    bottom: 0;
    right: 40px;
    background-color: #15375c !important;
    color: #fff;
    z-index: 100;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 20px;
}
.contact-ss .btns-pr, .contact-ss i{
    font-size: 20px;
    border: none;
}

.contact-ss .btns-pr{
    padding-left: 10px;
}